{% extends 'base.html' %}
{% block content %}

<h1>Guitar Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ guitar.name }}</span>
        <p>Brand: {{ guitar.brand }}</p>
        <p>Model: {{ guitar.model }}</p>
        <p>Wood: {{ guitar.wood }}</p>
        <p>Pickups: {{ guitar.pickup }}</p>
        <p>Description: {{ guitar.description }}</p>
        {% if guitar.year > 0 %}
          <p>Age: {{ guitar.year }}</p>
        {% else %}
          <p>Year: Brand New</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'guitars_update' guitar.id %}">Edit</a>
        <a href="{% url 'guitars_delete' guitar.id %}">Delete</a>
      </div>
    </div>
    {% for photo in guitar.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}

    <form action="{% url 'add_photo' guitar.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input type="submit" class="btn" value="Upload Photo">
  </form>

  </div>
  <div class="col s6">
      <form action="{% url 'add_service' guitar.id %}" method="post">
          {% csrf_token %}
          {{ servicing_form.as_p }}
          <input type="submit" class="btn" value="Add Service">
        </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Service</th></tr>
      </thead>
      <tbody>
        {% for services in guitar.servicing_set.all %}
          <tr>
            <td>{{services.date}}</td>
            <td>{{services.get_service_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
    var selectEl = document.getElementById('id_service');
    M.FormSelect.init(selectEl);

  </script>

{% endblock %}