{% extends 'base.html' %}
{% block content %}

<h1>Guitar List</h1>

{% for guitar in guitars %}
  <div class="card">
    <a href="{% url 'detail' guitar.id %}">
    <div class="card-content">
      <span class="card-title">{{ guitar.name }}</span>
      <p>Brand: {{ guitar.brand }}</p>
      <p>Description: {{ guitar.description }}</p>
      {% if guitar.year > 0 %}
        <p>Year: {{ guitar.year }}</p>
      {% else %}
        <p>Year: Brand New</p>
      {% endif %}
    </div>
    </a>
  </div>
{% endfor %}

{% endblock %}